<!-- 
<div class="center">
<p style="text-align: center;">Search</p>
<input type="text" class="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<select class="center" name="filter" id="filter"  [(ngModel)]="selectedOption" >
    <option value="All">All</option>
    <option value="Road">Road</option>
    <option value="Street">Street</option>
    <option value="Bridge">Bridge</option>
  </select>
</div> -->

<div class="left-side">
  <router-outlet></router-outlet>
</div>
<div class="main-content">
  <div class="buttonstyle">
    <button class="btn close" (click)="logout()">Logout</button>
    <button class="btn add" routerLink="/add">+</button>
  </div>
  <app-map [newpoints]="newCoordinats">
    <app-draw (drawend)="drawEnd($event)" *ngIf="dataService.mapstate === 'DRAW'"></app-draw>
    <app-select (select)="selectEnd($event)" *ngIf="dataService.mapstate === 'SELECT'"></app-select>
  </app-map>

</div>