<div class="container">
    <div class="row">
        <div class="center">
            <button style="background-color: rgb(216, 47, 84);" (click)="changeDrawFalse()" routerLink=".." >X</button>
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <p id="textsize">Add A Point</p>
                <div class="form-group">
                    <input type="text" class="myInput" id="name" formControlName="name" placeholder="Add the name">
                </div>
                <div class="form-group">
                    <input type="text" class="myInput" id="desc" formControlName="desc"
                        placeholder="Add the Description"></div>
                <div class="radio" id="textsize" *ngFor="let type of types">
                    <label>
                        <input type="radio" formControlName="type" [value]="type">{{ type }}
                    </label>
                </div>
                <hr>
                <div id="textsize">
                    <label>
                        <input type="checkbox" class="form-check-input" formControlName="active">active
                    </label>
                </div>
                <hr>
                <div class="your-class">
                    <label class="inputt" for="latitude">lat..</label>
                    <input readonly class="inputt" formControlName="onla" id="latitude" type="number" />
                    <label class="inputt" for="Name">long..</label>
                    <input readonly class="inputt" formControlName="onlo" id="longitude" type="number" />
                </div>
                <button class="btnn add" type="button" (click)="changeDrawTrue()">Select A Point</button>
                <hr>
                <button class="btnn add" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>