<div class="container">
    <div class="row">
        <div class="center">
            <button style="background-color: rgb(216, 47, 84);" routerLink="..">X</button>
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <p class="textsize">Add A Point</p>
                <div class="form-group">
                    <input type="text" class="myInput" formControlName="name" placeholder="Add the name">
                </div>
                <div class="form-group">
                    <input type="text" class="myInput" formControlName="desc" placeholder="Add the Description"></div>
                <div class="textsize" *ngFor="let type of types">
                    <label>
                        <input type="radio" formControlName="type" [value]="type">{{ type }}
                    </label>
                </div>
                <hr>
                <div class="textsize">
                    <label>
                        <input type="checkbox" class="form-check-input" formControlName="active">active
                    </label>
                </div>
                <hr>
                <div class="your-class">
                    <label class="inputt" for="longtitude">long..</label>
                    <input readonly class="inputt" id="longtitude" formControlName="lon" type="number" />
                    <label class="inputt" for="latitude">lat..</label>
                    <input readonly class="inputt" id="latitude" formControlName="lat" type="number" />

                </div>
                <button class="btnn add" type="button" (click)="changeDrawTrue()">Select A Point</button>
                <hr>
                <span *ngIf="!addForm.valid && addForm.touched" style="color: blue;">Please enter a valid data</span>
                <button [disabled]="!addForm.valid" class="btnn add" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>