<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <p class="textsize">Point Data</p>
    <div class="form-group">
        <label class="inputt" for="id">Id</label>
        <input readonly type="text" style="background-color: gray;" id="id" class="myInput"  formControlName="id">
    </div>
    <div class="form-group">
        <label class="inputt" for="name">Name</label>
        <input type="text" id="name" class="myInput" formControlName="name" placeholder="Add the name">
    </div>
    <div class="form-group">
        <label class="inputt" for="description">Description</label>
        <input type="text" id="description" class="myInput" formControlName="description" placeholder="Add the Description"></div>
    <div class="textsize" *ngFor="let type of pointTypeArray">
        <label>
            <input type="radio" formControlName="type" [value]="type">{{ type }}
        </label>
    </div>
    <hr>
    <div class="textsize">
        <label>
            <input type="checkbox" class="form-check-input" formControlName="active">active
        </label>
    </div>
    <hr>
    <div class="your-class">
        <label class="inputt" for="latitude">lat..</label>
        <input readonly class="inputt" formControlName="x" type="number" />
        <label class="inputt" for="Name">long..</label>
        <input readonly class="inputt" formControlName="y" type="number" />
    </div>
    <!-- <button class="btnn add" type="button" (click)="changeDrawTrue()">Select A Point</button> -->
    <hr>
    <span *ngIf="!updateForm.valid && updateForm.touched" style="color: red;">Please enter a valid data</span>
    <button [disabled]="!updateForm.valid" class="btnn add" (click)="onUpdate()">Update</button>
    <button [disabled]="!updateForm.valid" class="btnn add" (click)="onDelete()" type="button">Delete</button>
</form>